[submodule ".local/lib/ls--"]
	path = .local/lib/ls--
	url = https://github.com/trapd00r/ls--.git
[submodule ".local/lib/todo.txt-cli"]
	path = .local/lib/todo.txt-cli
	url = https://github.com/ginatrapani/todo.txt-cli.git
[submodule ".local/lib/fasd"]
	path = .local/lib/fasd
	url = https://github.com/clvv/fasd.git
[submodule ".local/lib/urxvt-perls"]
	path = .local/lib/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule ".local/lib/tmuxifier"]
	path = .local/lib/tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
[submodule ".local/lib/wifi.sh"]
	path = .local/lib/wifi.sh
	url = git@github.com:dominictarr/wifi.sh.git
[submodule ".local/lib/base16-shell"]
	path = .local/lib/base16-shell
	url = https://github.com/chriskempson/base16-shell
