[alias]
    # View the SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph
    # View the current working tree status using the short format
    s = status -s
    # Commit all changes
    ca = commit -a
    # Switch to a branch, creating it if necessary
    go = checkout -B
    # Undo a `git push`
    undopush = push -f origin HEAD^:master
[apply]
    whitespace = fix
[core]
    excludesfile = ~/.gitignore
    editor = vim
[color]
    # Use colors in Git commands that are capable of colored output when outputting to the terminal
    ui = auto

[push]
	default = simple
[user]
	name = Oskar Schöldström
	email = public@oxy.fi
[github]
	user = oxyc
