[alias]
    a = add
    ap = add -p
    b = branch
    ba = branch -a
    p = push
    s = status -s
    # d = diff
    dc = diff --cached
    m = commit -m
    ma = commit -am
    mn = commit -nm

    tags = tag -l
    branches = branch -a
    remotes = remote -v

    # View abbreviated SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph --abbrev-commit

    # Interactive rebase with the given number of latest commits
    r = "!r() { git rebase -i HEAD~$1; }; r"

    # Show the diff between the latest commit and the current state
    d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"

    # Switch to a branch, creating it if necessary
    c = checkout -B

    # Undo a `git push`
    undopush = push -f origin HEAD^:master

    # Remove branches that have already been merged with master
    # a.k.a. ‘delete merged’
    dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[apply]
    whitespace = fix
[core]
    excludesfile = ~/.gitignore
    editor = vim
[color]
    # Use colors in Git commands that are capable of colored output when outputting to the terminal
    ui = auto

[push]
    default = simple
[user]
    name = Oskar Schöldström
    email = public@oxy.fi
[github]
    user = oxyc
