
[Desktop Entry]
Type=Application
Version=1.0
Name=Opera
GenericName=Web browser
Comment=Fast and secure web browser and Internet suite
Icon=opera-browser
TryExec=/usr/bin/opera
Exec=/usr/bin/opera %U
Terminal=false
MimeType=text/html;text/xml;application/xhtml+xml;text/vnd.wap.wml;text/wml;application/x-mimearchive;application/mime;application/xml;application/rss+xml;application/rdf+xml;image/svg+xml;application/x-opera-uniteapplication;application/x-opera-extension;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/mailto;
Categories=Network;WebBrowser;
StartupNotify=true
X-AppInstall-Package=opera
X-XFCE-Source=file:///usr/share/applications/opera-browser.desktop
