
[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird Mail
Comment=Send and receive mail with Thunderbird
GenericName=Mail Client
Keywords=Email;E-mail;Newsgroup;Feed;RSS
Exec=thunderbird %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=thunderbird
Categories=Application;Network;Email;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;x-scheme-handler/mailto;
StartupWMClass=Thunderbird
StartupNotify=true
X-Ayatana-Desktop-Shortcuts=Compose;Contacts
X-XFCE-Source=file:///usr/share/applications/thunderbird.desktop

[Compose Shortcut Group]
Name=Compose New Message
Exec=thunderbird -compose
TargetEnvironment=Messaging Menu;Unity

[Contacts Shortcut Group]
Name=Contacts
Exec=thunderbird -addressbook
TargetEnvironment=Messaging Menu;Unity
